/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f8f3;
}

h1, h2 {
    text-align: center;
    color: #388E3C;
    margin-bottom: 20px;
}

.form-container {
    background-color: #e6f5e9;
    padding: 20px;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #4caf50;
    border-radius: 10px;
}

th, td {
    padding: 10px;
    text-align: left;
}

input[type="text"], input[type="number"], input[type="date"], input[type="time"] {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #4caf50;
    border-radius: 8px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}

input[type="radio"] {
    margin-right: 10px;
}

/* Botón añadir repuesto */
.add-button {
    display: block;
    margin: 20px auto;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.add-button:hover {
    background-color: #45a049;
}

/* Estilo de tablas */
thead {
    background-color: #c8e6c9;
}

/* Responsividad */
@media screen and (max-width: 768px) {
    .form-container {
        max-width: 100%;
        margin: 10px;
        padding: 15px;
    }

    table, th, td {
        font-size: 14px;
    }

    h1, h2 {
        font-size: 18px;
    }
}

@media screen and (max-width: 480px) {
    input[type="text"], input[type="number"], input[type="date"], input[type="time"] {
        padding: 6px;
    }

    th, td {
        padding: 6px;
    }
}